h1, h2 {
    text-align: center;
    margin-bottom: 50px;
}

#contenido {
    margin-top: 40px;
}

#current-list li{
    border-bottom: 1px solid whitesmoke;
}

.borrar-prod,
.borrar-prod:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: rgb(238, 49, 49, .8);
    text-align: center;
    padding: 6px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    border-radius: 5px;
    margin-top: 4px;
    font-size: 14px;
}